body {
    background-color: #e8e8e8;
    color: #1c1c1c;
}

.sessions div {
    align-items: center;
    overflow: hidden;
    padding: 10px;
    text-align: center;
}

.sessions h2 {
    font-size: 50px;
}

.sessions p {
    font-size: 25px;
    text-align: left;
    margin-left: 15%;
}

.sessions a {
    position: static;
    text-decoration: none;

}

.sessions a a:visited{
    color: #1c1c1c;
}

.sessions a:hover {
    opacity: 0.5;
    font-size: 18px;
}

.sessions a:active {
    font-style: italic;
    font-weight: 700;
}

.sessions a:link {
    font-family: 'Ariadna script', arial, serif;
    opacity: 0.5;
}

div.sessionsTitle {
    width: 80%;
    margin: 0 auto;
}

div.indexGeneral {
    width: 10%;
    display: inline-block;
    position: static;
    vertical-align: top;
}

.indexGeneral h2 {
    font-size: 20px;
    text-align: center;
}

.indexGeneral ul li {
    width:100%;
    display: inline-block;
    text-align: left;
    position: relative;
    margin: 0 -12%;
}

div.movies {
    width: 65%;
    display: inline-block;
    position: static;
}

.movies li {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
    padding: 2%;
}

div.horizontal {
    height: 15%;
    display: block;
}

div.movieInfo {
    width: 25%;
    height: 35%;
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
    background-color: white;
}

.movieInfo div {
    display: block;
    position: relative;
    vertical-align: middle;
    margin-top: -10%;
    margin-left: -10%;
    margin-right: -10%;
}

.movieInfo img {
    padding: -2px;
    width: 330px;
    height: 500px;
    object-fit: cover;
    display: inline-block;
    vertical-align: bottom;

}
