header {
    overflow: hidden;
    padding: 10px;
    #border-style: solid;
}

div.logo {
    width: 33%;
    height: 75px;
    display: inline-block;
    position: static;
    #border-style: solid;
}

.logo a:link, a:visited, a:hover, a:active {
    position: static;
    display: flex;
    align-items:center;
    color: black;
    text-decoration: none;
    font-size: 35px;
}

.logo img {
    vertical-align: top;
    #border-style: solid;
}

div.menu {
    width: 33%;
    height: 75px;
    display: inline-block;
    position: static;
    vertical-align: middle;
    #border-style: solid;
    justify-content: center;
    align-items: center;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu nav {
    margin-left: 15%;
}

.menu li {
    float: left;
    margin: 0 10px;
}

.menu a a:visited{
    color: #1c1c1c;
    text-decoration: none;
}

.menu a:hover {
    opacity: 0.5;
    text-decoration: none;
    font-size: 18px;
}

.menu a:active {
    font-style: italic;
    font-weight: 700;
}

.menu a:link {
    font-family: 'Ariadna script', arial, serif;
    opacity: 0.5;
}

div.login {
    width: 32%;
    height: 75px;
    display: inline-block;
    position: static;
    vertical-align: middle;
    #border-style: solid;
    justify-content: center;
    align-items: center;
    text-align: right;
}

.login button {
    display: inline-block;
    padding: 10px 10px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: red;
}

footer {
    border-style: solid;
}