@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

header {
    overflow: hidden;
    padding: 10px;
}

div.logo {
    width: 33%;
    height: 75px;
    display: inline-block;
    position: static;
}

.logo a:link, a:visited, a:hover, a:active {
    position: static;
    display: flex;
    align-items:center;
    color: black;
    text-decoration: none;
    font-size: 35px;
}

.logo img {
    vertical-align: top;
}

div.menu {
    width: 33%;
    height: 75px;
    display: inline-block;
    position: static;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu nav {
    margin-left: 15%;
}

.menu li {
    float: left;
    margin: 0 10px;
}

.menu a {
    position: static;
    text-decoration: none;
}

.menu a a:visited{
    color: #1c1c1c;
}

.menu a:hover {
    opacity: 0.5;
    font-size: 18px;
}

.menu a:active {
    font-style: italic;
    font-weight: 700;
}

.menu a:link {
    font-family: 'Ariadna script', arial, serif;
    opacity: 0.5;
}

div.login {
    width: 32%;
    height: 75px;
    display: inline-block;
    position: static;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    text-align: right;
}

.login button {
    display: inline-block;
    padding: 10px 10px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: red;
}

@media screen and (max-width: 600px) {
    .header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .login {
        width: 100%;
        margin-right: 20%;
        order: 1;
    }
    .logo {
        width: 100%;
        margin-right: 20%;
        order: 2;
    }
    .menu {
        width: 100%;
        margin-right: 20%;
        order: 3;
    }
}