@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

body {
    background-color: #e8e8e8;
    color: #1c1c1c;
}

.clubes div {
    align-items: center;
    overflow: hidden;
    padding: 10px;
    text-align: center;
}

.clubes h2 {
    font-size: 50px;
}

.clubes img {
    padding: 10px;
    width: 300px;
}

.clubes ul li {
    display: inline-block;
    margin: 0 auto;
}

div.images {
    width: 500px;
}

.images div {
    width: 300px;
    margin: 0 auto;
    padding: 10px;
    text-align: left;
}

.images a {
    position: static;
    text-decoration: none;

}

.images a a:visited{
    color: #1c1c1c;
}

.images a:hover {
    opacity: 0.5;
    font-size: 18px;
}

.images a:active {
    font-style: italic;
    font-weight: 700;
}

.images a:link {
    font-family: 'Ariadna script', arial, serif;
    opacity: 0.5;
}

@media screen and (max-width: 600px) {
    .clubes {
        width: 100%;
        height: 1000%;display: grid;
        flex-wrap: wrap;
    }
}

