
body {
    background-color: #e8e8e8;
    color: #1c1c1c;
}

header {
    overflow: hidden;
    padding: 10px;
}

div.logo {
    width: 33%;
    height: 75px;
    display: inline-block;
    position: static;
}

.logo a:link, a:visited, a:hover, a:active {
    position: static;
    display: flex;
    align-items:center;
    color: black;
    text-decoration: none;
    font-size: 35px;
}

.logo img {
    vertical-align: top;
}

div.menu {
    width: 33%;
    height: 75px;
    display: inline-block;
    position: static;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu nav {
    margin-left: 15%;
}

.menu li {
    float: left;
    margin: 0 10px;
}

.menu a {
    position: static;
    text-decoration: none;
}

.menu a a:visited{
    color: #1c1c1c;
}

.menu a:hover {
    opacity: 0.5;
    font-size: 18px;
}

.menu a:active {
    font-style: italic;
    font-weight: 700;
}

.menu a:link {
    font-family: 'Ariadna script', arial, serif;
    opacity: 0.5;
}

div.login {
    width: 32%;
    height: 75px;
    display: inline-block;
    position: static;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    text-align: right;
}

.login button {
    display: inline-block;
    padding: 10px 10px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: red;
}

@media screen and (max-width: 600px) {
    .header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .login {
        width: 100%;
        margin-right: 20%;
        order: 1;
    }
    .logo {
        width: 100%;
        margin-right: 20%;
        order: 2;
    }
    .menu {
        width: 100%;
        margin-right: 20%;
        order: 3;
    }
}

footer {
    overflow: hidden;
    padding: 10px;
    background-color: #433A44;
    color: white;
}

.footerHorizontal ul {
    overflow: hidden;
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.footerHorizontal  li {
    float: left;
}

.footerHorizontal  li + li:before {
    content: " · ";
    margin: 0 45px;
}

div.menuFooter {
    width: 70%;
    height: 35px;
    display: inline-block;
    position: static;
}

.menuFooter nav {
    margin-left: 1%;
}

div.social {
    left: 100px;
    width: 28%;
    height: 35px;
    display: inline-block;
    position: static;
}

.social nav {
    margin-left: 25%;
}

div.info {
    width: 100%;
    height: 150px;
}

.info ul li {
    width:99%;
    height:30px;
    display: block;
    margin: 0 -1.5%;
}

.info button {
    float:right;
}

footer a {
    position: static;
    text-decoration: none;
}

footer a a:visited{
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
}

footer a:hover {
    opacity: 0.5;
    font-size: 15px;
    color: #9b1700;

}

footer a:active {
    font-style: italic;
    font-weight: 700;
}

footer a:link {
    font-family: 'Ariadna script', arial, serif;
    color: white;
    opacity: 0.5;
}